@import "../Other/Variables.scss";
@import "../Other/Animations.scss";
h1 {
  font-size: 2.3rem;
  margin: 1rem 0;
}
p {
  margin: 0 0 1rem;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0;
}
body {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  background: $color3;
  color: $color1;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-size: 1.3rem;
  line-height: 1.5;
  font-family: "Comfortaa", sans-serif;
}
#root{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
}