@import "../Other/Variables.scss";
@import "../Other/Animations.scss";

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    border-radius: 12rem 3rem 3rem 3rem;
    border: 2px solid $color1;
    width: 30%;
    height: 80%;

    .myPhoto {
      width: 95%;
      height: 95%;
      border-radius: 11rem 2rem 2rem 2rem;
      margin: 1rem;
    }
    .bio {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 96%;
      height: 25%;
      border-radius: 0 0 2rem 2rem;
      backdrop-filter: blur(0.5rem);
      font-weight: bold;
      color: $color1;
      margin: 1rem;
      text-shadow: 5px 5px 5px $color3;
    }
  }

  .display {
    display: flex;
    width: 45%;
    height: 70%;
    border-radius: 4rem;

    .intro,
    .aboutMe,
    .skills,
    .portfolio {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      width: 100%;
      padding: 2rem;
      background-color: $color2;
      border-radius: 0 3rem 3rem 0;

      title {
        display: block;
        line-height: 1;
        border-radius: 3rem;
        padding: 0 0.5rem;
        background-color: $color4;
      }
    }
  }
}
