@import "../Other/Variables.scss";
@import "../Other/Animations.scss";
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 3rem;
  height: 70vh;
  background-color: $color2;
  left: 3rem;
  border-radius: 3rem;

  button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    border: 0px;
    background-color: $color2;

    .icon {
      fill: $color1;
    }

    .icon:hover {
      fill: $color4;
      cursor: pointer;
    }
  }
  .active {
    border-bottom: 2px solid $color4;
    svg {
      fill: $color4;
      animation: bounce 1s;
    }
  }
}
